<div class="center hero-unit">
  <h2>Users</h2>
    <% @users.each do |user| %>
    <div class="movie">
      <p>Star ID: <%= user.star_id %></p>
      <p>First Name: <%= user.fname %></p>
      <p>Last Name: <%= user.lname %></p>
      <p>Date of Birth: <%= user.dob %></p>
      <p>User Role: <%= user.role %></p>
      <p>Email: <%= user.email %></p>
      <p>Password: <%= user.password %></p>
      
    </div>
    <% end %>
</div>
