<div class="chunky">
  <h2>Volunteering Events</h2><br>
    <% @events.each do |event| %>
    <div class="event_table">
        <%= image_tag "top.png" %>
      <p><b>Description:</b> <%= event.description %></p>
      <p><b>Date:</b> <%= event.date.strftime("%m/%d/%Y") %> </p>
      <p><b>Location:</b> <%= event.location %></p>
      <p><b>Start Time:</b> <%= event.start_time %></p>
      <p><b>Total Hours:</b> <%= event.total_hrs %></p>
      <p><b>Spots:</b> <%= event.spots %></p><br>
      <% if current_user.role == 's' %>
        <button class="btn btn-primary btn-medium"><p><%= link_to "Sign Up to Volunteer", volunteers_new_path(@volunteer, :event_id=> event.id, :user_id=> current_user.id), :method=> :post, data: { confirm: "Are you sure?" } %></p></button><br><br>
    <% else %>
      <button class="btn btn-success btn-medium"><p><%= link_to "Show all Signed Up Volunteers", event_path(event) %></p></button><br><br>
      <button class="btn btn-warning btn-medium"><p><%= link_to "Edit/Update", edit_event_path(event) %></p></button>&nbsp&nbsp&nbsp
      <button class="btn btn-danger btn-medium"><p><%= link_to "Delete Event", event_path(event.id), method: :delete, data: { confirm: "Are you sure?" } %></p></button><br><br>
    <% end %>
      
        
      
        <%= image_tag "bottom.png" %>
    </div>
    
    <div class="light"></div>
    <% end %>
</div>
