<div class="chunky">
  <h2>Volunteering Events</h2>
    <% @events.each do |event| %>
    <div class="event_table">
      <p><b>Description:</b> <%= event.description %></p>
      <p><b>Date:</b> <%= event.date.strftime("%m/%d/%Y") %> </p>
      <p><b>Location:</b> <%= event.location %></p>
      <p><b>Start Time:</b> <%= event.start_time %></p>
      <p><b>Total Hours:</b> <%= event.total_hrs %></p>
      <p><b>Spots:</b> <%= event.spots %></p>
      <p><%= link_to "Show the Volunteers", event_path(event) %></p>
      <p><%= link_to "Edit/Update", edit_event_path(event) %></p>
      <p><%= link_to "Delete Event", event_path(event.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
    <div class="light"><br></div>
    <% end %>
</div>
