<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <title>Cultural Contribution App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-fixed-top" style="background-color: #e3f2fd;">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "User", '#', id: "user" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "User",    '#' %></li>
              <li><%= link_to "Account",    '#' %></li>
              <a href="/"><button class="btn btn-danger navbar-btn">Log Out</button></a>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>